* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

#toggleSidebar {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #03a3ff;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}

.sidebar {
    width: 350px;
    background-color: #03a3ff;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: transform 0.8s ease;

}



.sidebar.closed {
    transform: translateX(-100%);
}



.conteudo {
    margin-left: 400px;
    padding: 40px;
    flex: 1;
    transition: margin-left 0.85s ease;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sidebar.closed+.conteudo {
    margin-left: 0;
}

.container-centralizado {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.logo-nome {
    margin: 60px 0 60px;
    text-align: center;
}

.logo-nome h1 {
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.452);
    margin: 0;
    font-weight: 600;
    line-height: 1.1;
}

.logo-nome p {
    font-size: 26px;
    color: #ebebeb;
    margin: 0;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 3px;
}

.roxo {
    color: #80F;
}

.conteudo-container {
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.conteudo h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.conteudo h3 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #34495e;
}

.conteudo p,
.conteudo li {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.conteudo ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.conteudo table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
}

.conteudo th,
.conteudo td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.conteudo th {
    background-color: #ecf0f1;
    font-weight: 600;
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.sidebar input[type="text"] {
    display: block;
    margin: 0px 20px 60px;
    width: 80%;
    padding: 10px 14px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    padding: 1px 25px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    display: block;
    transition: 0.2s;
}

.sidebar ul li a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

.sidebar ul li a::before {
    content: "•";
    margin-right: 8px;
    font-size: 20px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.submenu {
    display: none;
    margin-left: 15px;
    padding-left: 10px;
    list-style: none;
}

.menu-btn {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    color: #fff;
    padding: 8px;
    text-align: left;
    width: 100%;
}

section {
    margin-bottom: 60px;
}