* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.logo-nome {
    margin-bottom: 30px;
    text-align: center;
}

.logo-nome h1 {
    font-size: 35px;
    color: white;
    margin: 0;
    font-weight: 600;
    line-height: 1.1;
}

.logo-nome p {
    font-size: 20px;
    color: #cfcfcf;
    margin: 0;
    font-weight: 300;
    line-height: 1;
}

.roxo {
    color: #4b0bc0;
    /* Um tom de roxo bem próximo ao da logo */
}

/* Área principal */
.conteudo {
    margin-left: 260px;
    padding: 40px;
    flex: 1;
}

.conteudo-container {
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.conteudo h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.conteudo h3 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #34495e;
}

.conteudo p,
.conteudo li {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.conteudo ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.conteudo table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
}

.conteudo th,
.conteudo td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.conteudo th {
    background-color: #ecf0f1;
    font-weight: 600;
}

.sidebar {
    width: 240px;
    background-color: #218de6;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.sidebar input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.2s;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.conteudo {
    margin-left: 260px;
    padding: 30px;
    flex: 1;
}

section {
    margin-bottom: 60px;
}